[submodule "cyclone"]
	path = cyclone
	url = https://github.com/dbaseqp/cyclone
[submodule "kamino-frontend"]
	path = kamino-frontend
	url = https://github.com/dbaseqp/kamino-frontend
[submodule "guac"]
	path = guac
	url = https://github.com/evanjd711/guac
